<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <springProperty scope="context" name="logPath" source="logging.path" defaultValue="/logs" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] %highlight(%-4level) %magenta(${PID:-}) %white(---) %-10(%yellow([%10.10thread])) %-50(%cyan(%logger{48}:%L)) :%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE_INFO_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level ${PID:-} --- %-20([%20.20thread]) %-55(%.32logger{30}:%L) : %msg%n</pattern>
        </encoder>
        <param name="File" value="${logPath}/log.log" />
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <param name="FileNamePattern" value="${logPath}/info.%d.log" />
        </rollingPolicy>
    </appender>

    <appender name="FILE_ERROR_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level ${PID:-} --- %-20([%20.20thread]) %-55(%.32logger{30}:%L) : %msg%n</pattern>
        </encoder>
        <param name="File" value="${logPath}/error.log" />
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <param name="FileNamePattern" value="${logPath}/error.%d.log" />
        </rollingPolicy>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE_INFO_LOG"/>
        <appender-ref ref="FILE_ERROR_LOG"/>
    </root>
    <!-- 本项目开启debug。同时支持打印mybatis执行SQL -->
    <logger name="com.bob.test" level="debug"/>
</configuration>
