<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!-- 此配置是项目testng的总入口，将需要每次执行的xml配置到此文件中 -->
<suite name="自动化测试">
    <test name="支付-退款">
        <classes>
            <class name="com.bob.test.cases.Pay" />
            <class name="com.bob.test.cases.Refund" />
        </classes>
    </test>
    <test name="增改查">
        <classes>
            <class name="com.bob.test.cases.Db" />
        </classes>
    </test>
</suite>